<!-- Camera View -->
<div id="cameraView" class="flex flex-col fade-in bg-black bg-opacity-50">
  <!-- Main Content Area (Video/Image/Response) -->
  <main class="relative flex-grow flex items-center justify-center bg-black overflow-hidden shadow-xl">
    <video #videoFeed *ngIf="showVideoFeed" id="videoFeed" class="w-full h-full object-cover" autoplay playsinline></video>
    <img #capturedImage *ngIf="showCapturedImage" id="capturedImage" class="w-full h-full object-contain"/>
  </main>

</div>

<!-- Hidden elements -->
<canvas id="canvas" #canvas class="hidden"></canvas>
