<div class="d-flex align-items-center justify-content-center gap-3">
  <div class="form-group">
    <label for="detectSilence" class="form-label">Detect silence</label>
    <input class="form-check-input ms-2" type="checkbox" id="detectSilence" [formControl]="detectSilenceFormControl">
  </div>
  <app-action-button icon="bi bi-sliders"
                     color="transparent"
                     (click)="toggleAudioParametersForm()"></app-action-button>
</div>
<div class="d-flex align-items-center justify-content-center gap-3 mt-2">
  @if (state) {
    <app-action-button [icon]="state.cameraButtonIcon()"
                       [color]="state.cameraButtonColor()"
                       [disabled]="!state.cameraButtonActive()"
                       (click)="toggleCamera()"></app-action-button>

    <app-action-button [icon]="state.screenshareButtonIcon()"
                       [color]="state.screenshareButtonColor()"
                       [disabled]="!state.screenshareButtonActive()"
                       (click)="toggleScreenshare()"></app-action-button>

    <app-action-button [icon]="state.processContextButtonIcon()"
                       [color]="state.processContextButtonColor()"
                       [disabled]="!state.processContextButtonActive()"
                       (click)="captureContext()"></app-action-button>

    <app-action-button
      [icon]="state.pauseButtonIcon()"
      [color]="state.pauseButtonColor()"
      [disabled]="!state.pauseButtonActive()"
      (click)="togglePause()"></app-action-button>
  }
  <app-action-button [icon]="'bi-x'" color="red" (click)="exit()"></app-action-button>
</div>
