<div class="footer-container">
  <app-action-button
    icon="camera_video"
    label="Camera"
    [isActive]="isCameraActive"
    (buttonClick)="onCameraClick()"
  ></app-action-button>
  <app-action-button
    icon="screen_share"
    label="Screenshare"
    [isActive]="isScreenshareActive"
    (buttonClick)="onScreenshareClick()"
  ></app-action-button>
  <app-action-button
    icon="pause"
    label="Pause"
    [isActive]="isPauseActive"
    (buttonClick)="onPauseClick()"
  ></app-action-button>
</div>
