<div class="d-flex flex-column gap-4">
  <header class="d-flex justify-content-center mt-3">
    <h1 class="fs-5 fw-semibold"><i class="bi bi-soundwave"></i> Live</h1>
  </header>

  <div class="view-container">

    <!-- App Microphone Visualizer Component -->
    <app-microphone-visualizer *ngIf="currentView === 'microphone'"></app-microphone-visualizer>

    <!-- App Camera View Component -->
    <app-camera-view
      *ngIf="currentView === 'camera'"
      [currentView]="currentView"
      [startWithFileUpload]="startCameraWithFileUpload"
      (viewChange)="handleCameraViewChange($event)"
      (message)="handleCameraMessage($event)"
      (fileUploadRequested)="handleFileUploadInCameraRequest()">
    </app-camera-view>

    <!-- Message Box -->
    <div *ngIf="isMessageBoxVisible" id="message-box"
         class="position-fixed start-50 translate-middle-x bg-dark text-white text-center py-2 px-3 rounded-3 shadow-lg z-3 message-box-custom-bottom"
         [class.opacity-0]="!isMessageBoxVisible">
      {{ messageBoxText }}
    </div>
  </div>


  <!-- Footer Controls -->
  <app-microphone-view></app-microphone-view>

  <app-footer></app-footer>
</div>
