<header class="d-flex justify-content-between align-items-center">
  <h1 class="fs-5 fw-semibold">OnDevice Astra</h1>
</header>

<div class="view-container">

<!-- Microphone View -->
<div *ngIf="currentView === 'microphone'" id="microphoneView" class="d-flex flex-column vh-100 justify-content-between p-3 p-md-4 fade-in">
  <!-- Main content area for Microphone View -->
  <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
    <app-microphone-view></app-microphone-view>
  </div>
</div>

<!-- App Camera View Component -->
<app-camera-view
  *ngIf="currentView === 'camera'"
  [currentView]="currentView"
  [startWithFileUpload]="startCameraWithFileUpload"
  (viewChange)="handleCameraViewChange($event)"
  (message)="handleCameraMessage($event)"
  (fileUploadRequested)="handleFileUploadInCameraRequest()">
</app-camera-view>

<!-- Message Box -->
<div *ngIf="isMessageBoxVisible" id="message-box"
    class="position-fixed start-50 translate-middle-x bg-dark text-white text-center py-2 px-3 rounded-3 shadow-lg z-3 message-box-custom-bottom"
    [class.opacity-0]="!isMessageBoxVisible">
  {{ messageBoxText }}
</div>
</div>


<!-- Footer Controls -->
<footer class="d-flex justify-content-around align-items-center p-3">
  <button id="cameraBtn" (click)="openCameraView()" class="icon-btn rounded-circle p-3 hover-scale-110">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z" />
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
  </button>

  <button id="micBtn" (click)="handleToggleListen()"
          class="rounded-circle p-4 hover-scale-110"
          [class.bg-white]="isListening" [class.text-primary]="isListening"
          [class.bg-danger]="!isListening" [class.text-white]="!isListening"
          [class.pulsing-glow]="isListening">
    <svg *ngIf="!isListening" id="micIcon" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm5 4a1 1 0 11-2 0V4a1 1 0 112 0v4zM3 9a1 1 0 011-1h1.172a4 4 0 013.998 4.223l.135.811a4.002 4.002 0 01-3.182 3.965A4.002 4.002 0 014.172 15H4a1 1 0 110-2h.172a2 2 0 001.995-2.223l-.135-.81a2 2 0 00-1.995-1.744H4a1 1 0 01-1-1zm12.172 2.223a4 4 0 01-3.998-4.223H15a1 1 0 110 2h-.172a2 2 0 00-1.995 2.223l.135.81a2 2 0 001.995 1.744H16a1 1 0 110 2h-.828a4.002 4.002 0 01-3.998-3.777l-.135-.811A4 4 0 0111.828 9H13a1 1 0 110 2h-.172z" clip-rule="evenodd" />
    </svg>
    <svg *ngIf="isListening" id="pauseIcon" xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM7 8a1 1 0 012 0v4a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v4a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
    </svg>
  </button>

  <button id="addFileBtn" (click)="triggerOrRequestFileUpload()" class="icon-btn rounded-circle p-3 hover-scale-110">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
    </svg>
  </button>
</footer>
