<div class="d-flex flex-column gap-4">
  <header class="d-flex justify-content-center mt-3">
    <h1 class="fs-5 fw-semibold"><i class="bi bi-soundwave"></i> Live</h1>
  </header>

  <div class="view-container">
    <app-captions-view
      style="z-index: 10000; position: absolute; text-align: center; width: 100%; top: 25px; overflow: auto; padding: 0 25px 0 25px;"></app-captions-view>

    @if (state) {
      @switch (state!.currentStateEnum) {
        @case (ViewStateEnum.MicrophoneView) {
          <app-microphone-visualizer></app-microphone-visualizer>
        }
        @case (ViewStateEnum.CameraView) {
          <app-camera-view
            (message)="handleCameraMessage($event)">
          </app-camera-view>
        }
        @case (ViewStateEnum.ScreenshareView) {
          <app-screenshare-view></app-screenshare-view>
        }
      }
    }
  </div>

  <app-footer class="mt-3"></app-footer>
</div>

<!-- Message Box -->
<app-toast></app-toast>
