<div id="listening-indicator" class="flex-grow flex flex-col items-center justify-center border-2 border-blue-800 bg-blue-800 bg-opacity-50">
    @if(isProcessing) {
        <p class="text-lg mb-2 opacity-80">Processing...</p>
    } @else {
        <p class="text-lg mb-2 opacity-80">{{ isListening ? 'Listening...' : 'Paused' }}</p>
    }

    <canvas class="visualizer d-block rounded-pill mb-3" height="40px" #canvasElement></canvas>

    @if(transcribedText) {
        <p class="text-sm">You: {{ transcribedText }}</p>
    }

    @if(agentResponseText) {
        <p class="text-sm">Agent: {{ agentResponseText }}</p>
    }
</div>
